@page {
  size: A4;
  margin: 2cm;
}

body {
  background-color: #f0f0f0;
  font-family: Cambria, serif;
  color: #002060;
  width: 21cm;
  margin: 0 auto;
}

#cover_page {
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#header {
    display: flex;
    justify-content: space-between;
}
#contentHeader1 {
    color: red;
    font-weight: bold;
    text-decoration: underline;
}